<ul class="side-nav">
  <li>
    <a routerLink="/home" routerLinkActive="active"
      ><mat-icon
        class="nav-icon"
        aria-hidden="false"
        aria-label="Home"
        matTooltip="Home"
        >home</mat-icon
      ></a
    >
  </li>
  <li>
    <a routerLink="/edit" routerLinkActive="active"
      ><mat-icon
        class="nav-icon"
        aria-hidden="false"
        aria-label="Edit"
        matTooltip="Add product"
        >library_add</mat-icon
      ></a
    >
  </li>
</ul>
